/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

.DS_Store
/node_modules

/doc/
/log/*.log
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/test/dummy/coverage/

/app/assets/builds/*
!/app/assets/builds/.keep

/test/dummy/app/assets/builds/*
!/test/dummy/app/assets/builds/.keep

# Ignore all environment files (except templates).
.env*
!.env.test
!.env*.erb
!.env*.template